body  {
   background-color: red;}


h1 {
  color: #0000FF;
font-family: sans-serif;
 font-size: 72px;
 text align: center;
background-color: gold}

  img{ width: 70%;
      max-width:500px;
      min-width: 300px;
      height: auto
      Text-align: center;
      margin: 0 auto 0 auto;
      text-align: center;
      }
img,
p{ height: auto
   width:auto;
   margin: 0 auto 0 auto
   display: auto;


}

p { margin-top: 2em;
     font-family: fantasy;
}


a{ margin: 2em auto 4em auto ;
  display: table;
}
